.nav{
    display: flex;
    box-shadow: 0px 0px 100px 0px ;
}

.botao {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    padding: 10px;
}

.botoes {
    margin-left: auto; 
}

button {
    padding: 10px 20px;
    font-size: 16px;
}

.card{
    margin-right: 10px;
}

.boletim{
    margin-top: 150px;
}

.horario{
    margin-top: 150px;
}

.financeiro{
    margin-top: 50px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center; 
}
th {
    background-color: #f2f2f2;
}